<% performances.each do |performance| %>
	<tr>
		<td class="<%= performance.code %>" >  <%= performance.title %> </td>
		<td>  <%= performance.starttime.strftime("%H:%M") %> </td>
		<td> 	<%= link_to performance.caption, artist_path(performance.artist.id)%> 
		<td> (<%= performance.duration %>) <td>
	</tr>
<% end %>
