<div class= "container">
<h1>Test Time New Settings</h1>
<p> Local Time: <%= @localTime_caption %> </p>
<p> Parameters Day: <%= @dayindex %> Hours: <%= @hr %> Minutes: <%= @mins %></p>
<p> Session Test Time: <%= @session_time_caption %>  
</div>