<!DOCTYPE html>
<html>
<head>
  <title>BluesfestPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" >
<div class="container-fluid">
<ul class="nav navbar-nav">
  <li class="navbarlarger" role="presentation" > <%= link_to "Home", root_path %>  </li>
  <li role="presentation" > <%= link_to "About", about_path %>  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <% if logged_in? %>
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
	    	<span class="glyphicon glyphicon-user"></span>
	      User:           
	        <%= current_user.screen_name %> <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu" role="menu" id="usermenu">
	    	<li role="presentation"> <%= link_to "Profile", current_user %> </li>
	    	<li role="presentation"> <%= link_to "Settings", edit_user_path(current_user) %> </li>
	    	<li class="divider"></li>
	    	<li role="presentation"><%= link_to "Log out", logout_path, method: :delete %></li>
	 		</ul>
	  </li>
		
		<% if admin_user? %>
			<li role="presentation" class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      Admin <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		    	<li role="presentation"> <%= link_to "All Users", users_path %> </li>
		  	</li>
				</ul>
			<% end %>
	<% else %>
		<li role="presentation"> <%= link_to "<span class=\"glyphicon glyphicon-user\"></span> Sign up".html_safe , signup_path %> </li>
		<li role="presentation"> <%= link_to "<span class=\"glyphicon glyphicon-log-in\"></span> Log in".html_safe, login_path %> </li>
	<% end %>
</ul>
</div>
</nav>
<div class="container" >
<h1> <%= festival_title %> </h1>
</div>
<% flash.each do |key, value| %>
	<%= content_tag(:div, value, class: "alert alert-#{key}" ) %>
<% end %>
<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
